# Task 1:Implement a linear regression model to predict the prices of houses based on their square footage and the number of bedrooms and bathrooms.

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import os

In [3]:
# Loading the dataset
train=pd.read_csv("train.csv")
train.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [4]:
train.tail(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1450,1451,90,RL,60.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,136000
1451,1452,20,RL,78.0,9262,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,New,Partial,287090
1452,1453,180,RM,35.0,3675,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,145000
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [5]:
test=pd.read_csv("test.csv")
test.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

In [6]:
test.tail(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1449,2910,180,RM,21.0,1470,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal
1450,2911,160,RM,21.0,1484,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2006,WD,Normal
1451,2912,20,RL,80.0,13384,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2006,WD,Normal
1452,2913,160,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2006,WD,Abnorml
1453,2914,160,RM,21.0,1526,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,GdPrv,NaN,0,6,2006,WD,Normal
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [7]:
train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [8]:
test.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [9]:
train.isnull().sum() #to check column wise total null value

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [10]:
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [11]:
train=train.ffill()        ### replacing NA Values with 0
test=test.ffill()

In [12]:
train.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 81, dtype: int64

In [13]:
train.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,0,8,2007,WD,Normal,307000
7,8,60,RL,75.0,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,0,1,2008,WD,Normal,118000

In [14]:
train=train.drop("Id", axis=1)

In [15]:
train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [16]:
columns_to_encode = ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
                    'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
                    'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
                    'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
                    'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
                    'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
                    'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
                    'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature','SaleType', 'SaleCondition']

In [17]:
train=train.drop(columns=columns_to_encode)
test=test.drop(columns=columns_to_encode)

In [18]:
train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,61,0,0,0,0,0,2,2008,208500
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,298,0,0,0,0,0,0,5,2007,181500
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,42,0,0,0,0,0,9,2008,223500
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,35,272,0,0,0,0,2,2006,140000
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,192,84,0,0,0,0,0,12,2008,250000

In [19]:
X=train.drop(columns="SalePrice", axis=1)
y=train["SalePrice"]

In [20]:
## training the dataset
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2,random_state=42)

In [21]:
X_train.shape

(1168, 36)

In [23]:
X_test.shape

(292, 36)

In [24]:
## Building the model
model=LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [25]:
### predictions
y_pred=model.predict(X_test)
y_pred

array([154134.01159967, 309911.96391988, 113011.26744185, 180576.20937672,
       295758.1971218 ,  52818.89269739, 234886.2926415 , 149265.82287031,
        46507.17208484, 150218.87433534, 153607.42156937, 114946.46720312,
        74739.2236694 , 212290.18784172, 174525.26647783, 142293.73934253,
       212027.83096463, 138121.17849472, 116465.36255542, 233697.46089829,
       183472.94928566, 210546.81905153, 190113.67868878, 131101.18377669,
       210462.15283621, 149881.25687952, 197594.52185543,  76591.63075678,
       178028.35843923, 183964.87774049, 116188.17335557, 271300.94169379,
       228948.62943465,  94495.38416063, 265936.26748748, 159590.8746247 ,
       150315.10955688, 216934.22331822, 300023.98581871,  87627.70232391,
       135278.02873014, 248032.05648607, 106318.24865218, 274771.89918309,
       127121.31742325, 127452.21234527, 104660.00471352, 129888.19133785,
       359847.99861725, 129378.21594673, 108395.44834878, 218321.46005894,
        95344.11865436, 334575.77669561, 161085.4023486 , 247306.38894421,
       229068.25155524, 147635.57099578, 150418.91468431, 111947.66388542,
        55209.32581023, 139739.54115812, 286117.00863426, 260756.4557169 ,
       270701.62779014, 215699.27980811,  95914.10550907, 304091.08648925,
       103614.74769933, 187892.44712584, 123366.14143886, 117087.21597927,
        77792.44838528,  54262.77530391, 383971.06788342, 184915.7758783 ,
       298207.2300619 , 298842.43533899, 124674.88001204, 115099.67152122,
       136775.51305601,  82292.48046678, 109387.42943533, 102105.06761116,
       168170.39140136, 116418.23548017, 257357.33450321, 208698.92202958,
       163061.19280887, 201428.79258058, 155902.27335007, 149876.09571008,
       124364.61505231, 258955.58678366,  93136.18586952, 185250.11413974,
       182545.01658841, 187003.3758588 , 213673.49504558, 266379.75696563,
       197447.16032035, 232934.29263207, 307063.1273293 , 156005.63764091,
       170552.33020355, 179427.74208123, 168761.99039114, 234645.91857474,
       134012.02874173, 180562.1773618 ,  20355.21747123, 105133.95148208,
       133411.99829931, 123557.36244793, 215640.71215543, 128291.12444898,
        90649.99284525, 114832.28894754, 157558.58443517, 280180.61723345,
       159631.81040704, 161853.9233375 , 185298.13134113, 184700.99359329,
       189623.96987465, 123348.67117939, 238794.68004802,  91171.47570326,
       135017.721533  , 205546.90308866, 196584.37423084, 317410.80308154,
       201080.76976156, 119554.73571413,  26703.46839136, 318987.73767187,
       320484.617682  , 115955.32044246, 243014.27411182, 464735.27946234,
       305028.21915666, 122820.25374291, 189904.99087278, 159345.08746948,
       108662.45371196, 112609.89770738, 209075.45557811, 199150.28231337,
       113547.14300777,  45986.21398727,  80956.91297986, 158519.91246474,
       251071.07203682, 177057.78271038,  53729.38150094, 108257.74670352,
       143983.76734329, 155956.41117907,  81009.89233242, 139401.99992348,
       212439.05255006, 170079.79399621, 288428.76176429, 145492.22105972,
       112223.24749221,  98986.62969118, 274053.22517586, 302306.59529898,
       342392.00105551, 223774.18078649, 321398.27795078,  76752.46112627,
        98627.21322909, 164874.28772163, 295077.32247369, 114947.61754012,
       132761.20950854, 226069.85487733, 123001.20144128, 145975.37744258,
       147797.09037476, 105890.97870375, 115045.08961457, 164490.5246224 ,
       266167.59774095, 186119.85500817, 287530.33349471, 233390.12188119,
       196353.36939521,  67018.42667682, 145970.06382391,  97725.79593594,
       133845.61808332, 138481.20459584, 199576.20838228, 196671.16143512,
       217740.84913558,  68453.11508672, 233910.72141671, 110730.73953726,
       250884.26920388, 203962.3580199 , 116091.2980541 , 306504.03298608,
       210906.30391698,  98734.52589139, 244928.95903011, 134654.57973239,
       164465.56013484,  93919.59154583, 256397.52937554, 165772.86500712,
        97100.64266007, 173407.31669962, 220733.28850394, 252461.55506228,
       199383.79040315, 126168.66103803, 106775.53046282, 130673.04262282,
       137495.05195526, 232805.28264398, 206701.89412961,  88501.9324443 ,
       237719.76248429, 170456.18310412,  89327.01536009,  69395.96266703,
       172500.14528806,  90785.40761459,  95903.03019533, 178226.50357946,
       139305.65581194, 112693.28212508, 255289.5769949 , 156977.52633929,
       218887.70746749, 162186.91824048, 259986.66827135, 125723.06786694,
       136462.13941482, 265884.25618516, 230286.19189932, 385429.71453218,
       190948.61182642,  94998.9438977 , 137988.13066663, 198438.68245476,
       139603.83921721,  90291.84532326, 179975.28917105, 190332.42091551,
       137793.93984878,  70933.63281781, 145252.13882119, 142557.17115743,
       131126.41693466, 117019.68632483, 177053.923234  , 275809.75634597,
       287720.39502293, 184074.58315874, 122505.58446178, 253323.60613621,
       286809.77251141, 220261.26699138, 192404.588795  , 160910.51881434,
       103168.33005721, 191175.8121909 , 340542.74949236, 222579.7041156 ,
       228794.91845643,  69630.2795275 ,  90617.93485869, 136131.01216995,
       191796.61245974, 262643.5291671 , 215156.57317162, 140704.15978492,
       221074.15067935,  72888.81201166, 193157.21525166, 108430.06847861,
       288003.31225849, 179143.69450666, 219682.87499243, 138148.88410058,
       236230.27734757, 214958.1648089 , 101009.20283203, 100334.85363858])

In [26]:
model.intercept_

-131499.90979856215

In [27]:
model.coef_

array([-2.05787643e+02, -1.42280274e+02,  4.57371532e-01,  1.80268772e+04,
        4.11500407e+03,  2.75091034e+02,  1.72231597e+02,  2.44468344e+01,
        9.08207352e+00, -2.75056996e+00, -7.17944155e-01,  5.61355940e+00,
        1.32344237e+01,  1.41590805e+01,  4.74707473e+00,  3.21405790e+01,
        1.11556570e+04, -1.22654773e+03,  3.04675397e+03, -2.26904033e+03,
       -8.67060131e+03, -9.22750384e+03,  5.02944697e+03,  4.78595197e+03,
        1.14608986e+02,  1.24629100e+04, -4.00254615e+00,  2.10234469e+01,
       -5.84591550e+00,  9.01066669e+00,  3.82485290e+01,  6.39174100e+01,
       -2.11674095e+01, -7.16663477e-01, -1.48964644e+02, -5.12076827e+02])

In [28]:
r2_score(y_test,y_pred)     ## checking the accuracy of the model

0.8226330139767987

In [31]:
SalePrice_final = model.predict(test.drop(columns='Id'))   ### future predictions of the house price

In [32]:
submission_final = pd.DataFrame({"Id": test['Id'], "SalePrice": SalePrice_final})

In [33]:
submission_final.to_csv("LinearRegression.csv", index=False)

In [34]:
data = pd.read_csv("LinearRegression.csv")
data.head()

     Id      SalePrice
0  1461  115968.937990
1  1462  146848.134313
2  1463  172948.903960
3  1464  198351.230882
4  1465  197932.202162